#page {
    background-color: white;
    padding: 230px;
    height: 100%;
    width: 100%;
}

#center {
    background-color: silver;
    padding: 15px;
}

#title {
    font-size: 40px;
    font-family: sans-serif;
    color: black;
}

.front-page-buttons {
    background-color: white;
    margin: 15px;
    font-size: 35px;
    font-family: sans-serif;
    padding: 5px;
}